{% extends "layout.html" %}

{% block title %}
    Password setting
{% endblock %}

{% block main %}
<p>

</p>
<p>

</p>
    <form action="/pwd" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old_pwd" placeholder="Old_password" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="New_password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirmathion" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
