{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select autocomplete="off" autofocus class="form-control" name="symbol">
                <option disable selected value = " ">Symbol</option>
                {% for row in rows %}
                    <option value = "{{row.symbol}}">{{row.symbol}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="0" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
